body {
    color: #0d3349;
    font-family: Arial, sans-serif;
    font-size: 100%;
    line-height: 1.725;
    background: #FFF;
    margin: 0 1rem;
    padding: 0;
}

main {
    font-size: calc(0.775rem + 0.25vw);
    max-width: 50em;
    margin: 4vh auto;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #73c0e9;
    color: #73c0e9;
}

a:hover {
    border-style: none none solid none;
    border-color: #7E7D7D;
}

p {
    margin: 0 0 0.8em 0;
}

h1, h2, h3 {
    color: #414040;
    margin: 0.8em 0 0.2em 0;
}

h1 {
    font-size: 2.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    color: #73c0e9;
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h1:after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    float: right;
    margin: 0 0 2em 2em;
    background: url(AppIcon.png) no-repeat 0 0;
}

.retina h1:after {
    background-image: url(AppIcon@2.png);
    background-size: contain;
}

div.version, div.version ul {
    margin-left: 16px;
}

ul, li {
    margin: 0.25 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0.25em 1.25em;
}

li:before {
    position: absolute;
    margin-left: -.8em;
    font-size: 1.2em;
    line-height: 1.4;
    content: "\2022";
    color: #73c0e9;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre, code {
    font-family: monospace;
    background-color: rgba(115, 192, 233, .1);
    padding: .1em .2em;
    font-size: 0.925em;
}

blockquote {
    font-style: italic;
}

.screenshot {
    margin: 1.5em;
    -webkit-filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
    -moz-filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
    filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
}
